header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

body {
    margin: 0;
    padding-top: 80px; /* Отступ для контента под шапкой */
}



nav {
    display: flex;
    justify-content: space-between; /* растягивает на всю ширину */
    align-items: center;
}

.nav-left {
    /* Левые ссылки автоматически займут доступное пространство */
}


.nav-right {
    margin-right: 20px;
}

body {
    margin: 0;
    padding-top: 80px;
}

.content {
    padding: 20px;
    height: 1500px;
}